{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Criar Playlist{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Criar Nova Playlist</h2>
    <form method="post" class="mt-3">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <div class="invalid-feedback d-block">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-3">Criar Playlist</button>
    </form>
</div>
{% endblock %}